body
{
	font: 300 14px 'Helvetica Neue', Helvetica;
}

#body-wrapper
{
	height: 100%;
	width: 100%;
}

#content
{
	margin: auto;
	max-width: 80%;
	max-height: 80%;
}


.scaling
{
	max-width: 100%;
	max-height: 100%;
}


form
{
	display: flex;
}


#error
{
	color: red;
}



/* Graph properties */
svg
{
	border: 1px solid #ccc;
	overflow: hidden;
	margin: 0 auto;
	max-width: 100%;
	max-height: 10%;
}

.node rect {
	stroke: #333;
	fill: #fff;
}

.edgePath path {
	stroke: #333;
	fill: #333;
	stroke-width: 1.5px;
}
